{{ "style-sort-collection.css" | asset_url | stylesheet_tag }}

<div class="sort__container">
  <p class="sort__title" for="sort_collections">COLLECTIONS</p>
  <select class="sort__select" id="sort_collections">

    {% for collection in collections %}
      <script>
        console.log({{ collection | json }})
      </script>

      <option value="{{ collection.title }}">
        {{ collection.title }}
      </option>
    {% endfor %}
  </select>
</div>
<script>
  Shopify.queryParams = {};

// Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

// Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
  document.querySelector('#sort_collections').addEventListener('change', function(e){
    var collection = e.target.value;
    location.assign(collection.toLowerCase())
  });
</script>