.products {
  background-color: #f3e7e0;
  padding: 69px;
}
.products__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.product__title {
  width: 668px;
  margin: 60px auto;
  text-align: center;
  font-family: "SF New Republic";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1d1d1d;
}
.products__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 40px;
}
.product__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product__money {
  margin: 4px 0 10px 0;
  font-family: "SF New Republic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1d;
}
.product__title-url {
  font-family: "SF New Republic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1d1d1d;
}
.product__link {
  color: #c09188;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  font-family: "SF New Republic"; 
}
.product__item:first-child,
.product__item:last-child {
  margin-top: -220px;
}
.richtext__cta--wrapper {
  width: 253px;
  height: 44px;
  background: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  margin: 60px auto;
}
.richtext__cta {
  border-radius: 2px;
  font-family: "SF New Republic";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f3e7e0;
  cursor: pointer;
  text-decoration: none;
}
