.collection__container {
  background-color: #f3e7e0;
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.collection__banner-img {
  width: 100%;
  max-width: 100vw;
  height: 200px;
}
.collection__banner-img img {
  width: 100%;
  height: 100%;
}
.collection__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.collection__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  background-color: #fff;
  clip-path: polygon(
    0 5%,
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0% 95%,
    0% 5%
  );
}
.collection__product--img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.collection__product--url {
  font-family: "SF New Republic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1d1d1d;
  text-decoration: none;
}
.collection__product--price {
  font-family: "SF New Republic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1d1d1d;
}
.collection_add-product {
  font-family: "SF New Republic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #c5978d;
  text-decoration: none;
  margin-top: 10px;
}

.sort__products__row {
  display: flex;
  gap: 0 40px;
}

.pagination {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.pagination__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.pagination__content--link {
  width: 48px;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* clip-path: polygon(50% 0%, 50% 0%, 100% 50%, 90% 100%, 50% 100%, 0% 50%); */
  clip-path: polygon(
    20px 0%,
    calc(100% - 20px) 0%,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0% calc(100% - 20px),
    0% 20px
  );
  text-decoration: none;
}
.pagination__link {
  opacity: 0.5;
  font-family: "SF New Republic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: not-allowed;
}
.pagination__content a {
  font-family: 'SF New Republic';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.pagination__active--prev,
.pagination__active--next {
  color: #000000;
  opacity: 1;
  cursor: pointer;
}
.border-left {
  border-left: 1px solid black;
}
.border-right {
  border-right: 1px solid black;
}
.border-right, .border-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}